{
  "presets": [
    "next/babel",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    ["@babel/preset-react"],
  ],
  "plugins": [["styled-components", { "ssr": true }]]
}